<mat-card>
  <form (submit)="onCreateWorkout(workoutForm)" #workoutForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        required
        ngModel
        minlength="3"
        placeholder="Title of Workout"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Enter a workout title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="description"
        required
        ngModel
        placeholder="Description of Workout"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Workout</button>
  </form>
</mat-card>
