<mat-card>
  <form [formGroup]="form" (submit)="onCreateWorkout()">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Title of Workout"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Enter a workout title.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        rows="5"
        matInput
        type="text"
        formControlName="description"
        placeholder="Description of Workout"
      ></textarea>
      <mat-error *ngIf="form.get('description').invalid"
        >Enter a description and the details of the workout.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="workoutDate" />
      <mat-error *ngIf="form.get('workoutDate').invalid"
        >Enter the date of the workout.</mat-error
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <mat-label>Upload a video file</mat-label>
      <button
        type="button"
        mat-button
        color="warn"
        (click)="filePicker.click()"
      >
        <mat-icon>file_upload</mat-icon>
        Upload
      </button>
      <input type="file" #filePicker />
    </div>

    <button mat-raised-button color="accent" type="submit">Save Workout</button>
  </form>
</mat-card>
