<mat-accordion multi="true" *ngIf="workouts.length > 0">
  <mat-expansion-panel *ngFor="let workout of workouts">
    <mat-expansion-panel-header>
      {{ workout.title }}
    </mat-expansion-panel-header>
    <p>{{ workout.description }}</p>
    <p>{{ workout.dateOfWorkout }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="workouts.length <= 0">
  No workouts added yet!
</p>
