<mat-accordion multi="true" *ngIf="workouts.length > 0">
  <mat-expansion-panel *ngFor="let workout of workouts">
    <mat-expansion-panel-header>
      {{ workout.title }}
    </mat-expansion-panel-header>
    <span style="white-space: pre-wrap;">
      <p>
        {{ workout.dateOfWorkout }}
      </p>
      <p>{{ workout.description }}</p>
      <span class="material-icons" *ngIf="workout.videoUrl">
        videocam
      </span>
    </span>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editWorkout', workout.id]"
        >EDIT</a
      >
      <button mat-button color="warn" (click)="onDelete(workout.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="workouts.length <= 0">
  No workouts added yet!
</p>
