<mat-card>
  <form [formGroup]="form" (submit)="onSaveWodResult()">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="userName"
        placeholder="User name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="result"
        placeholder="Enter workout time"
      />
      <mat-error *ngIf="form.get('result').invalid"
        >Enter a workout time</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        rows="5"
        matInput
        type="text"
        formControlName="comment"
        placeholder="Enter comments"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>
</mat-card>
