<mat-card>
  <mat-card-header>
    <mat-card-title>{{ workout?.title }}</mat-card-title>
    <mat-card-subtitle>{{ workout?.dateOfWorkout }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <mat-action-row *ngIf="workout">
      <button
        color="primary"
        mat-button
        [routerLink]="['/logWodResult', workout.id]"
      >
        Log Result
      </button>
    </mat-action-row>
  </mat-card-actions>

  <mat-card-content>
    <span style="white-space: pre-wrap;">
      {{ workout?.description }}
    </span>
    <span *ngIf="workout">
      <mat-video src="{{ workout?.videoUrl }}"></mat-video>
    </span>
    <p class="info-text mat-body-1" *ngIf="noWorkoutFound">
      No workout created for today!
    </p>
  </mat-card-content>
</mat-card>
